{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
     "jsx": true,
   },
    "ecmaVersion": 2015,
    "sourceType": "module",
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "google",
  ],
  "plugins": [
    "react",
    "jest",
  ],
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jest/globals": true,
  },
  "rules": {
    "camelcase": "off",
    "no-console": "off",
    "require-jsdoc": "off",
    "max-len": ["error", 120],
  }
}
